@import url('https://fonts.cdnfonts.com/css/general-sans');
@import "tailwindcss";

* {
    scroll-behavior: smooth;
}

body {
    background: #010103;
    font-family: 'General Sans', sans-serif;
}

@theme {
    --color-white: #adadad;
    --color-neutral-950: #121215;

    --text-preset-1: 24px;
    --text-preset-1--line-height: 120%;
    --text-preset-1--letter-spacing: -0.5px;
    --text-preset-1--font-weight: 700;
}

@layer utilities {
    .c-space {
        @apply sm:px-10 px-5;
    }

    .nav-link {
        @apply text-neutral-400  hover:text-neutral-100 cursor-pointer ;
    }

    .nav-sidebar {
        @apply max-sm:overflow-hidden px-4  duration-300 ease-in-out max-sm:bg-neutral-800 rounded-b-2xl transition-all ;
    }
    .text-gradient {
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(to right, #646464, #adadad);
    }

    .card{
        @apply shadow-lg rounded-lg bg-neutral-950 overflow-hidden p-5;
    }
    .grid-container {
        @apply  w-full h-full rounded-lg sm:p-7 p-4 flex flex-col gap-5 bg-neutral-950;
    }
    .img-w {
        @apply sm:w-21 w-16;
    }
}

@layer base {
    button {
        @apply cursor-pointer text-gray-400  hover:text-neutral-100 focus:outline-none sm:hidden flex;
    }

    p {
        @apply leading-tight text-gray-400;
    }
}

.waweing-heand {
    animation-name: wave-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0deg);
    }
    15% {
        transform: rotate(18deg)
    }
    30% {
        transform: rotate(-10deg)
    }
    40% {
        transform: rotate(18deg)
    }
    50% {
        transform: rotate(-6deg);
    }
    60% {
        transform: rotate(10deg);
    }
    70% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}